<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HYC.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>93B2BDEF7716436D2416BC5C726B47A12E056BF2</string>
				<key>dateExpires</key>
				<string>2018/12/1</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZK5FB2XW39.com.jsmy.HYC</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZK5FB2XW39</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>HYC.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a1a239d6-4d4e-4a8f-a7ca-a09b83c668c0</string>
				<key>name</key>
				<string>come.test</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZK5FB2XW39</string>
				<key>name</key>
				<string>Deng Shaojian</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
